.container-card {
  color: #fff;
  margin-top: 300px;
  max-width: 80%;
  height: 450px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.container-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-img img {
  width: 280px;
  border: 10px solid #fff;
  border-radius: 50%;
}
.list-social {
  display: flex;
  gap: 5px;
}
