.container-header {
  width: 100%;
  height: auto;
  padding: 20px;
  backdrop-filter: blur(5px);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.container-nav {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
}
.container-logo {
  padding: 5px;
  font-family: "Roboto Mono";
  font-size: 2.5rem;
}
.logo {
  padding: 5px;
  margin-left: 40px;
}
.container-links {
  margin-top: 15px;
  font-family: "Roboto Mono";
  font-size: 1.3rem;
}
.container-links-ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-right: 40px;
}
.links-li {
  padding: 5px 10px;
  transition: 0.3s;
  color: #a9f04d;
  background-color: #121212;
  border-radius: 10px 0px 10px 10px;
}
.links-li:hover {
  color: #000;
}
.dot {
  color: #551bb3;
}

.switch {
  margin-top: 15px;
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
