.container {
  margin-top: 400px;
}
.all-container {
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-title {
  padding: 10px;
  text-align: center;
  font-size: 30px;
}
.container-project {
  margin: 200px;
}
.anchor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.anchor img {
  max-width: 1100px;
}
.container-text {
  text-align: center;
  font-size: 28px;
  padding: 20px;
  margin: 50px;
}
