.container-allSkills {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.container-Skills {
  text-align: center;
}

.skills-title {
  font-size: 30px;
}
.container-list-ul {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.list-img img {
  max-width: 150px;
}
